@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #404040;
  --color-dark: #ffffff;
  --color-light-background: #fffbfb;
  --color-dark-background: #1e1e1e;
  --color-primary: #5264ff;
  --color-secondary: #ff782c;
}

@layer utilities {
  .my-container {
    @apply max-w-320 mx-auto px-4;
  }

  .my-text{
    @apply text-light dark:text-dark
  }
}
