@import "tailwindcss";

@theme {
  --color-light-background: #fffbfb;
  --color-light: #404040;
  --color-dark-background: #1e1e1e;
  --color-dark: #ffffff;
  --color-primary: #5264ff;
  --color-secondary: #ff782c;
}

@layer utilities {
  .my-container {
    @apply max-w-320 mx-auto px-4;
  }
}
