@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #404040;
  --color-dark: #ffffff;
  --color-light-background: #fffbfb;
  --color-dark-background: #1e1e1e;
  --color-dark-40: #404040; 
  --color-primary: #5264ff;
  --color-secondary: #ff782c;
}

@layer utilities {
  .my-container {
    @apply max-w-320 mx-auto px-4;
  }

  .my-text{
    @apply text-light dark:text-dark
  }
  .my-title-after{
    @apply after:h-0.5 after:w-20 after:bg-primary after:rounded-full after:absolute after:right-0 after:bottom-0
  }
}
